/* Responsive layout */

/* DESKTOP: */
@media (min-width: 1024px) {
    
}

/* TABLET: */
@media (max-width: 1023px) and (min-width: 768px) {
    #schedule-section {
        max-width: 60% !important;
    }
}

/* MOBILE: */
@media (max-width: 767px) {
    #about-card {
        height: 10rem;
        width: 80% !important;
        max-width: 320px !important;
    }
}

/*
--------------
ABOUT SECTION 
--------------
*/

.about-section {
    margin-bottom: var(--section-spacing);
    padding: var(--section-padding-vertical) var(--section-padding-horizontal);

    display: flex;
    flex-direction: column;

    justify-content: center;
}

/* CARD DESCRIPTIONS */
#about-cards {
    margin-top: 3rem;
    gap: 1.5rem;
}

#about-card {
    height: auto;
    width: 10rem;

    background-image: none;
    border: none;
    align-items: center;
    justify-content: flex-start;
}

/* Card logo */
.about-cards-logo-bg {
    width: 65px;
    height: 65px;

    background-image: linear-gradient(to bottom right, var(--action-primary), var(--action-secondary));
    margin-bottom: 1rem;

    border-radius: 100px;

    position: relative;
}

.about-cards-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 30px;
    height: 30px;
}

.logo-image-black {
    opacity: 0.80;
}

/* SCHEDULE SECTION */
#schedule-section {
    width: 100%;
    max-width: 40%;
    margin: 2rem auto 0 auto;
    padding: 1.5rem 1.75rem;
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
    color: var(--text-primary);
}

.schedule-table tr {
    border-top: 1px solid var(--border-table);
}

.schedule-table tr:first-child {
    border-top: none;
}

.schedule-table td {
    padding: 0.75rem 0.75rem 0.75rem 0;
    font-size: 1rem;
    font-weight: var(--weight-regular);
    text-align: left;
}

.schedule-table .time {
    font-weight: var(--weight-bold);
    color: white;
    white-space: nowrap;
    padding-right: 1.75rem;
}

.schedule-table td:not(.time) {
    color: var(--text-secondary);
}