/* Responsive layout */
:root {
    --timeline-card-padding-horizontal: 1.25rem;
    --timeline-card-padding-vertical: 1.25rem;
}

/* DESKTOP: */
@media (min-width: 1024px) {
    
}

/* TABLET: */
@media (max-width: 1023px) and (min-width: 768px) {
    #timeline-card {
        width: 60vw !important;
    }
}

/* MOBILE: */
@media (max-width: 767px) {
    #timer-collapse {
        display: none !important;
    }

    #registration-timer {
        gap: 0.5rem !important;
        max-width: 80% !important;
    }

    .timeline {
        gap: 1rem !important;
        row-gap: 1.5rem !important;
    }

    .timeline-text {
        max-width: 90% !important;
    }

    #timeline-text-title {
        max-width: 50% !important;
    }

    #subscribe-card {
        height: 10rem;
        width: 80% !important;
        max-width: 320px !important;
    }

    .subscribe-form {
        flex-direction: column !important;
        gap: 0.75rem !important;
    }

    #timeline-card {
        width: 60vw !important;
    }
}

/*
--------------
REGISTRATION SECTION 
--------------
*/

.registration-section {
    margin-bottom: var(--section-spacing);
    padding: var(--section-padding-vertical) var(--section-padding-horizontal);

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

/* COUNTDOWN TIMER */
#registration-timer {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    height: auto; 
    margin-top: 3rem;
    gap: 0.75rem;

    min-width: 40%;
}

.digit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Divider */
.divider {
    width: 10px;

    align-self: center;
    height: calc(1.5rem + 3rem);

    transform: translateY(-1.25rem);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 0.75rem;
}

.divider-dot {
    width: 5px;
    height: 5px;

    border-radius: 100px;

    background: linear-gradient(to bottom right, var(--action-primary), var(--action-secondary));
}

/* Number */
.number {
    background-color: var(--bg-tertiary);

    display: inline-block;
    width: fit-content; 
    height: fit-content;

    padding: 0.75rem;
    border-radius: 6px;
}

.timer-text {
    font-size: 3rem;
    font-weight: var(--weight-bold);
    color: var(--text-primary);

    margin: 0;
}

/* Subnumber */
.timer-label {
    color: var(--text-secondary);
    font-style: italic;

    text-align: center;

    margin-top: 0.25rem;
}

/* DATES TIMELINE */

/* Header */
#timeline-header {
    margin-top: 4rem;
}

#timeline-description {
    display: block;
    width: 100vw; 
    text-align: center;
}

/* Timeline */
.timeline {
    display: grid;
    grid-template-columns: auto min-content;
    gap: 1.5rem;
    row-gap: 2rem;

    position: relative;
    z-index: 1;
}

.timeline-wrapper {
    position: relative;
    margin-top: 2.5rem;
}

.timeline-line {
    position: absolute;

    top: 0;
    bottom: 2rem;
    left: 1.5625rem;

    width: 2px;
    background-image: linear-gradient(to bottom, var(--action-primary), rgba(246, 152, 49, 0.1));

    z-index: 0;
}

.timeline-item {
    display: contents;
}

.timeline-icon {
    width: 3.125rem;
    height: 3.125rem;

    background-color: var(--t-bg-color);
    
    border: 1px solid;
    border-color: var(--t-highlight-color);
    border-radius: 100px;

    position: relative;
    
    z-index: 1;
}

.timeline-logo {
    fill: var(--t-highlight-color);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 1.438rem;
    height: 1.438rem;

    overflow: visible;
}

/* Timeline card */
#timeline-card {
    padding: var(--timeline-card-padding-vertical) var(--timeline-card-padding-horizontal);

    border-color: var(--t-highlight-color);
    background-color: var(--t-bg-color);
    background-image: none;

    align-items: flex-start !important;
    justify-content: flex-start !important;

    width: 45vw;
}

.timeline-text {
    text-align: left !important;
    max-width: 90%;
}

.tt {
    margin-bottom: 0px;
}

.timeline-card-date {
    background-color: var(--t-date-bg-color);
    
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: var(--timeline-card-padding-vertical);
    right: var(--timeline-card-padding-horizontal);
}

.timeline-card-date-text {
    color: var(--t-highlight-color);
    font-weight: var(--weight-bold);
    font-size: 0.75rem;

    margin: 0.31rem 1rem;
}

/* Card states */
.timeline-item.completed {
    --t-highlight-color: var(--success-primary);
    --t-bg-color: rgb(16, 33, 22);
    --t-date-bg-color: rgb(31, 70, 41);
}

.timeline-item.next {
    --t-highlight-color: var(--action-primary);
    --t-bg-color: rgb(37, 27, 18);
    --t-date-bg-color: rgb(84, 46, 25);
}

.timeline-item.upcoming {
    --t-highlight-color: var(--border);
    --t-bg-color: rgb(13, 13, 13, 1);
    --t-date-bg-color: var(--bg-tertiary);
}

/* SUBSCRIBE CARD */
#stay-updated-section {
    display: flex;

    align-items: center;
    justify-content: center;
}

#subscribe-card {
    margin-top: 4rem;

    height: auto;
    width: 40rem;

    background-image: none;
    border-color: var(--action-primary);
    border-width: 0.5px;
    
    align-items: center;
    justify-content: flex-start;

    padding: 1.25rem;
}

#subscribe-card-title {
    font-size: 1.5rem;
}

/* Subscribe form */
.subscribe-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.125rem;

    margin-top: 1.5rem;

    width: 100%;
}

#subscribe-btn {
    padding: 0.65rem 1.5rem;
}

#register-btn {
    padding: 1.25rem 3.5rem;
    margin-top: 1rem;
}